@import "@css/_fonts.css";

.hello {
    background: url("@images/example.png");
    background-repeat: no-repeat;
    color: #000000;
    font-weight: 900;
    font-family: Montserrat, sans-serif;
}
